APP_NAME=Random Data Tools People
APP_DEBUG=false

POSTGRES_DB=people
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/people

RANDOM_DATA_API_URL=https://api.randomdatatools.ru/
INITIAL_LOAD_COUNT=1000
SKIP_INITIAL_LOAD=false
